body {
  margin: 0;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#start-screen img {
  height: 100vh;
  width: 100vw;
}

#start-btn {
  height: 100px;
  width: 200px;
  font-size: 24px;
  color: white;
  background-color: deepskyblue;
  border: none;
  border-radius: 7px;
  position: absolute;
  top: 60%;
}

#game-over-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#game-over-screen img {
  height: 100vh;
  width: 100vw;
}


#restart-btn {
  height: 100px;
  width: 200px;
  font-size: 24px;
  color: white;
  background-color: darkblue;
  border: none;
  border-radius: 7px;
  position: absolute;
  top: 45%;

}

#my-canvas {
  height: 100vh;
  width: 100vw;
}

#game-over-screen,
#game-screen {
  display: none;
}

#info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
}

#pause-btn {
  height: 30px;
  margin: 20px;
  font-size: 16px;
  color: black;
  background-color: lightyellow;
  border: none;
  border-radius: 7px;
  order: 1;
}

#score {
  height: 50px;
  width: 200px;
  padding: 10px;
  margin: 0;
  font-size: 32px;
  color: black;
  background-color: lightyellow;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;
}

#oxigen {
  height: 50px;
  width: 200px;
  padding: 10px;
  margin: 0;
  font-size: 28px;
  color: black;
  background-color: lightyellow;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
